{% extends "base.html.twig" %}
{% block title %}Login Usuario{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/estilsLogin.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <h1 id="titolLogin">Iniciar Sessión:</h1>
    <div id="paragrafLogin">
        {% if error %}
            <div> {{ error.messageKey }} </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <label for="username">Usuari:</label>
            <input type="text" id="username" name="_username" value="{{ lastUsername }}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            <button type="submit">Entrar</button>
        </form>
    </div>
{% endblock %}