{% extends 'base.html.twig' %}
{% block title %}Añadir equipo{% endblock %}
{% block stylesheets %}
{{ parent() }}
 <link href="{{ asset('assets/css/estilsEquips.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    
{% endblock %}
{% block body %}
    <h1 id="titolInici">Nou equip</h1>
    <div id="paragrafInici">
        {{ form_start(formulari) }}
        {{ form_widget(formulari) }}
        {{ form_end(formulari) }}
    </div>
    <div id="paragrafInici"><a class="nav-link" href ="{{ path('inici') }}">Tornar a l'inici</a></div>
{% endblock %}

{% block footer %}
{{ parent() }}
{%endblock%}